@value containerOffset: 12rem;

.container {
    background-color: grey;
    width: calc(100% - containerOffset);
    
    border-radius: 1rem;
    border-color: #b08859;
    border-style: solid;
    border-width: .1rem;
    margin-bottom: .1rem;
    cursor: pointer;
    padding-left: 3rem;
    padding-right: 3rem;
    display: table;
    pointer-events: all;
}

.container p {
    font-size: 1.5rem;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.containerError {
    composes: container;
    background-color: #ff6060;
}

.containerInfo {
    composes: container;
    background-color: #e9c5a7;
}

.containerImportant {
    composes: container;
    background-color: #f6e3a1;
}

@keyframes appear {
    from {opacity: 0}
    to {opacity: 100%}
}

@keyframes disappear {
    from {opacity: 100%;}
    to {opacity: 0;}
}

.containerAppear {
    animation: appear 1s;
    animation-fill-mode: forwards;
}

.containerDisappear {
    animation: disappear 1s;
    animation-fill-mode: forwards;
}

.dismissIcon {
    float: right;
    margin-right: -2rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-size: 1rem;
    color: #444;
    cursor: pointer;
}