@value colors: "ui/commonPalette.module.css";
@value button, button-text, button-highlight, button-primary, button-text-highlight, button-disabled, button-text-disabled, button-border-primary from colors;
@value commonStyles: "ui/commonStyles.module.css";
@value disableSelect from commonStyles;

.exitButton {
    composes: disableSelect;
    flex-basis: 10rem;
    justify-content: center;
    background-color: button;
    border-style: none;
    background-position: center;
    transition: background 0.2s;
    cursor: pointer;
    position:fixed;
    z-index: 1001;
    left: .1rem;
    top: .1rem;
}

.exitButton:hover {
    background: button-highlight radial-gradient(circle, transparent 1%, button 1%) center/23000%;
}
.exitButton:active {
    background-color: button-highlight;
    background-size: 100%;
    transition: background 0s;
}

.exitButtonText {
    letter-spacing: .1rem;
    font-size: 1.5rem;
    color: button-text;
}

.exitButtonDisabled:hover {
    background: button-disabled;
}
