
@value colors: "ui/commonPalette.module.css";
@value button, button-text, button-highlight, button-text-highlight, button-disabled, button-text-disabled from colors;
@value commonStyles: "ui/commonStyles.module.css";
@value disableSelect from commonStyles;

.skinOriginal { background-color: rgb(197, 202, 226) }
.skinPaleWhite { background-color: rgb(223, 210, 207) }
.skinWhite { background-color: rgb(228, 208, 196) }
.skinLightBrown { background-color: rgb(206, 191, 174) }
.skinModerateBrown { background-color: rgb(191, 172, 144) }
.skinDarkBrown { background-color: rgb(140, 119, 99) }
.skinBlack { background-color: rgb(98, 80, 63 ) }

.hairOriginal { background-color: rgb(197, 202, 226) }
.hairInkBlackLight { background-color: #463a53 }
.hairInkBlack { background-color: #2e243b }
.hairInkBlackDark { background-color: #07060e }
.hairPlatinumBlondeLight { background-color: #f8f1bb }
.hairPlatinumBlonde { background-color: #edd9a6 }
.hairPlatinumBlondeDark { background-color: #cdb87d }
.hairOceanBlueLight { background-color: #8497e1 }
.hairOceanBlue { background-color: #4c63b1 }
.hairOceanBlueDark { background-color: #051545 }
.hairHazelnutLight { background-color: #a26d4e }
.hairHazelnut { background-color: #8f593f }
.hairHazelnutDark { background-color: #69402a }
.hairGrayishBrownLight { background-color: #9d8c72 }
.hairGrayishBrown { background-color: #71614a }
.hairGrayishBrownDark { background-color: #504430 }
.hairSeaGreenLight { background-color: #7cd078 }
.hairSeaGreen { background-color: #579c65 }
.hairSeaGreenDark { background-color: #2d592f }
.hairClownRedLight { background-color: #e17e47 }
.hairClownRed { background-color: #dc3d1e }
.hairClownRedDark { background-color: #a31b00 }
.hairBloodOrangeLight { background-color: #ebbf90 }
.hairBloodOrange { background-color: #f2a972 }
.hairBloodOrangeDark { background-color: #ce7c38 }
.hairPinkLight { background-color: #eab4c1 }
.hairPink { background-color: #df8fb2 }
.hairPinkDark { background-color: #6f1b2b }
.hairRoyalPurpleLight { background-color: #8b54a7 }
.hairRoyalPurple { background-color: #603f84 }
.hairRoyalPurpleDark { background-color: #331b53 }
.hairPurplishRedLight { background-color: #d96a63 }
.hairPurplishRed { background-color: #a9423b }
.hairPurplishRedDark { background-color: #6e150c }
.hairSilverLight { background-color: #f3fbfd }
.hairSilver { background-color: #abb6c3 }
.hairSilverDark { background-color: #677687 }
.hairMustardLight { background-color: #fbda7b }
.hairMustard { background-color: #fac93b }
.hairMustardDark { background-color: #c59301 }

.container {
    display: flex;
    align-items: stretch;
}

.bar {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    flex-grow: 1;
}

.label {
    composes: disableSelect;
    flex-grow: 0;
    min-width: 6rem;
    font-size: 1rem;
    margin-top: .6rem;
}

.swatch {
    width: 2rem;
    height: 2rem;
    margin: .2rem;
    border-color: black;
    border-style: solid;
    border-width: .1rem;
}

.selectorButton {
    composes: disableSelect;
    justify-content: center;
    background-color: button;
    border-style: none;
    background-position: center;
    transition: background 0.2s;
    cursor: pointer;
    margin-bottom: .1rem;
}

.selectorButton:hover {
    background: button-highlight radial-gradient(circle, transparent 1%, button 1%) center/23000%;
}
.selectorButton:active {
    background-color: button-highlight;
    background-size: 100%;
    transition: background 0s;
}

.firstSelectorButton {
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

.lastSelectorButton {
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.selectorButtonSelected {
    composes: selectorButton;
    background-color: button-highlight;
    cursor: default;
}

.selectorButtonSelected:hover {
    background: button-highlight;
}

.selectorButtonDisabled {
    composes: selectorButton;
    background-color: button-disabled;
    cursor: pointer;
}

.selectorButtonDisabled:hover {
    background: button-disabled;
}