@value colors: "ui/commonPalette.module.css";
@value button, button-text, button-highlight, button-text-highlight, button-disabled, button-text-disabled from colors;

.contentPaneButton {
    justify-content: center;
    background-color: button;
    border-style: none;
    background-position: center;
    transition: background 0.2s;
    cursor: pointer;
    margin-right: .1rem;
    margin-bottom: .1rem;
}

.contentPaneButton:hover {
    background: button-highlight radial-gradient(circle, transparent 1%, button 1%) center/23000%;
}
.contentPaneButton:active {
    background-color: button-highlight;
    background-size: 100%;
    transition: background 0s;
}

.contentPaneButtonText {
    color: button-text;
}

.contentPaneButtonDisabled {
    composes: contentPaneButton;
    background-color: button-disabled;
    cursor: default;
}

.contentPaneButtonDisabled:hover {
    background: button-disabled;
}

.contentPaneButtonTextDisabled {
    composes: contentPaneButtonText;
    color: button-text-disabled;
}