.container {
    background-color: #eeeeee;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loadingText {
    letter-spacing: .3rem;
    color: #666666;
}