.container {
    position:relative;
    height:100%;
    padding: 1rem;
}

.configPanel {
    
}

.waveform {
    width: 100%;
    height: 25rem;
}

.lipzTextInput {
    width: 60%;
    margin-left: 1rem;
}

.lipzTextLabel {
    margin-left: 1rem;
}

.mouth {
    width: 17rem;
    height: 7.5rem;
    cursor: pointer;
 }