.container {
    position:relative;
    height:100%;
    padding: 1rem;
}

.configPanel {
    
}

.waveform {
    width: 100%;
    height: 25rem;
}

.lipzTextInput {
    width: 60%;
    margin-left: 1rem;
}

.lipzTextLabel {
    margin-left: 1rem;
}

.face {
    width: 20rem;
    height: 30rem;
    cursor: pointer;
 }

.faceLoadingBox {
    width: 20rem;
    height: 30rem;
}

.loadingBox {
    width: 30rem;
    height: 10rem;
}