.generalSettingsPane {
    width:100%;
    height:100%;
    font-size: 1.5rem;
}

.creditsTextArea {
    resize:vertical;
    width:calc(100% - .3rem);
    height: 4rem;
    font-size: 1.5rem;
}

.aboutTextArea {
    resize:vertical;
    width:calc(100% - .3rem);
    height: 4rem;
    font-size: 1.5rem;
}

.entrySpielName {
    font-size: 1.5rem;
}