@value colors: "ui/commonPalette.module.css";
@value accent-dark-grey, primary-off-white, primary-light-grey, button-highlight from colors;

.container {
    display: inline-block;
    border-radius: .5rem;
    border-style: solid;
    border-color: primary-light-grey;
    margin-left: 0.3rem;
    background-color: primary-off-white;
    font-size: .8rem;
    color: #69524a;
    padding: .2rem;
    width: fit-content;
}