@value colors: "ui/commonPalette.module.css";
@value button-highlight from colors;

.container {
    padding-bottom: .5rem;
    cursor: pointer;
    border-style: solid;
    border-color: transparent;
    text-align: center;
}

.containerSelected {
    composes: container;
    border-color: button-highlight;
}

.container:hover {
    background-color: button-highlight;
    border-color: button-highlight;
}

.character {
    display: block;
    text-align: center;
}

.dialogue {
    display: inline-block;
    max-width: 20rem;
}