.instructionText {
    height: 6rem;
}

.dialogueContainer {
    min-height: 8rem;
}

.characterName {
    text-align: center;
}

.parenthetical {
    text-align: center;
}

.dialogueText {
    text-align: center;
}