.waveformContainer {
    width: calc(100% - .3rem);
    height: 5rem;
    margin-left: .4rem;
}

.descriptionText {
    font-size: 1.2rem;
}

.autoAdjustContainer {
    width: 100%;
    text-align: center;
}

.autoAdjustLabel {
    font-size: 1.2rem;
}

.autoAdjustSliderContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.looserLabel {
    font-size: 1.2rem;
    margin-right: 0.5rem;
}

.tighterLabel {
    font-size: 1.2rem;
    margin-left: 0.5rem;
}

