.app {
    position:relative;
    height:100%;
    display:flex;
    flex-direction: column;
}

.canvas {
    width:100%;
    flex: 1;
}

.configPanel {
    flex-shrink: 1;
}

.waveform {
    width: 100%;
    height: 25rem;
}