/* Font files under "private" are missing from the repository because they are not 
   redistributable. Simply Olive is a beautitful font you can license from its 
   talented creator, Niskala Huruf, at: 
   https://www.etsy.com/listing/1053782772/best-font-bundle-vol-1-cricut-fonts 
*/
@font-face {
    font-family: 'simply_olive';
    src: url('private/simply_olive-webfont.woff2') format('woff2'),
         url('private/simply_olive-webfont.woff') format('woff'),
         url('private/Simply Olive.ttf') format('truetype'),
         url('private/Simply Olive.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}