@value colors: "ui/commonPalette.module.css";
@value button, button-text, button-highlight, button-text-highlight, button-disabled, button-text-disabled from colors;
@value commonStyles: "ui/commonStyles.module.css";
@value disableSelect from commonStyles;

.menuBarButton {
    composes: disableSelect;
    height: 9rem;
    width: 3rem;
    justify-content: center;
    background-color: button;
    border-style: none;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    margin-bottom: .2rem;
    background-position: center;
    transition: background 0.2s;
    cursor: pointer;
}

.menuBarButton:hover {
    background: button-highlight radial-gradient(circle, transparent 1%, button 1%) center/23000%;
}
.menuBarButton:active {
    background-color: button-highlight;
    background-size: 100%;
    transition: background 0s;
}

.menuBarButtonText {
    font-family: 'simply_olive', serif;
    font-size: 2rem;
    transform: rotate(270deg);
    transform-origin: 50% 50%;
    color: button-text;
}

.menuBarButtonActive {
    composes: menuBarButton;
    background-color: button-highlight;
    cursor: default;
}

.menuBarButtonActive:hover {
    background: button-highlight;
}

.menuBarButtonTextActive {
    composes: menuBarButtonText;
    color: button-text-highlight;
}

/* The 90 degree rotation on texts wrecks the centering. The corrections below are based on the text. This seems
   hard to maintain and likely to fail on different browsers. Maybe there is a better solution. Worst case, I can
   create images for button text, but that's cumbersome for localization. */
.faces { margin-top: .5rem; }
.spiels { margin-top: 1.3rem; }
.locations { margin-top: 3.2rem; }
.speech { margin-top: 1.9rem; }
.projects { margin-top: 2.3rem; }