@value colors: "ui/commonPalette.module.css";
@value button, button-text, button-highlight, button-primary, button-text-highlight, button-disabled, button-text-disabled, button-border-primary from colors;

.selectColumn {
    flex-basis: 2rem;
    border-color: darkgrey;
    border-right-style: solid;
}

.dialogueColumn {
    flex-basis: 40rem;
    border-right-style: solid;
    border-color: darkgrey;
    padding-left: .2rem;
    text-align: center;
}

.recordedTakesColumn {
    flex-grow: 1;
    border-right-style: solid;
    border-color: darkgrey;
    padding-left: .2rem;
}

.finalColumn {
    flex-basis: 3rem;
    padding-left: .2rem;
}

.finalColumnForHeader {
    flex-basis: 4.35rem;
    padding-left: .2rem;
}

.scrollableRows {
    overflow-y: auto;
    flex-grow: 1;
}

.row {
    font-size: 1.5rem;
    width: calc(100% - .5rem);
}

.speechTableHeader {
    font-size: 1.5rem;
    display: flex;
    border-bottom-style: solid;
    border-bottom-width: .15rem;
    border-color: darkgrey;
}

.spaceRow {
    composes: row;
    display: flex;
    height: 1rem;
    border-color: darkgrey;
    border-bottom-style: dotted;
}

.characterRow {
    composes: row;
    display: flex;
}

.parentheticalRow {
    composes: row;
    display: flex;
}

.dialogueRow {
    composes: row;
    display: flex;
}

.oddRow {
    background-color: #f0f0f0;
}

.evenRow {
    background-color: #e2e2e2;
}

.dragTarget {
    font-size: .6rem;
    background-color: button-primary;
    color: #333333;
    border-radius: 0.2rem;
    position: relative;
    top: .1rem;
    padding-top: .28rem;
    padding-bottom: .28rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

.dragTargetHover {
    background-color: button-highlight;
    border-style: dashed;
}

.finalizeDragTarget {
    composes: dragTarget;
    position: relative;
    top: -.3rem;
    margin-left: .25rem;
}

.finalizeDragTargetHover {
    composes: finalizeDragTarget;
    composes: dragTargetHover;
}

.deleteDragTarget {
    composes: dragTarget;
    float: right;
    margin-top: 0rem;
    margin-right: .25rem;
}

.deleteDragTargetHover {
    composes: deleteDragTarget;
    composes: dragTargetHover;
}

.hideDragTarget {
    display: none;
}